extends layout.pug

block content
    div(class="barGraphsContainer")
        div(class="barGraphDiv")
            canvas(name="Q1", id="Q1", class="barGraphCanvas")
        div(class="barGraphDiv")
            canvas(id="Q2", class="barGraphCanvas")=q2
        div(class="barGraphDiv")
            canvas(id="Q3", class="barGraphCanvas")=q3