extends layout.pug
block content
        form(method='POST' action='/login')
                div(class='viewprofileboard')
                    div.form-group
                        label(for='username') Username:  
                        input(type='text', placeholder='Username' name="username")
                    div.form-group
                        label(for='password') Password: 
                        input(type='Password', placeholder='Password' name='password')
                
                div.form-group
                button(class='button').btn.btn-primary(type='submit') Login
    
    
